
.box {
    background: rgba(95, 14, 14, 0.8);
    border-radius: 100px;
    padding: 800px;
    width: auto; 
    max-width:200px; 
    margin: 0px; 
    box-shadow: 0 4px 8px rgba(170, 148, 148, 0.1);
    text-align: center;
}
